.notFound-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}
